@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>CHS Auction Dashboard</h2>
    <h4>Annual Revenue Goal: </h4>
    <div class="progress progress-striped active" style="background-color:#ffffff61; width: 50%">
        <div class="progress-bar progress-bar-success" style="width: 45%"></div>
    </div>
    <!--<p class="lead">Dashboard</p>-->
    <p><a href="https://www.chsfl.org/history/" class="btn btn-primary btn-lg">About Us</a></p>
</div>
<div>
    <hr />
    <h2>List of Upcoming Events:</h2>
    <hr />
</div>
<div class="row">
    @*<div class="col-md-4">
        <h2>Silent Auction Items</h2>
        <p>
            Here you can view all silent auction items.
        </p>
        <p><a class="btn btn-default" href="./Home/Event">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Live Auctions</h2>
        <p>Here you can view live auction items</p>
        <p><a class="btn btn-default" href="./Home/Event">Learn more &raquo;</a></p>
    </div>*@
    <div class="col-md-4">
        <h2>All Events</h2>
        <p>Here you can view all events going on.</p>
        <p><a class="btn btn-default" href="./Events">Click Here &raquo;</a></p>
    </div>
</div>
