@model CHSAuction.Models.Guests

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Guests</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GuestId" />
            <div class="form-group">
                <label asp-for="GuestFirstName" class="control-label"></label>
                <input asp-for="GuestFirstName" class="form-control" />
                <span asp-validation-for="GuestFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestLastName" class="control-label"></label>
                <input asp-for="GuestLastName" class="form-control" />
                <span asp-validation-for="GuestLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestEmail" class="control-label"></label>
                <input asp-for="GuestEmail" class="form-control" />
                <span asp-validation-for="GuestEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestPhone" class="control-label"></label>
                <input asp-for="GuestPhone" class="form-control" />
                <span asp-validation-for="GuestPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationId" class="control-label"></label>
                <select asp-for="OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId">
                    <option value="" selected>None</option>
                </select>
                @*<span asp-validation-for="OrganizationId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="GuestAddress" class="control-label"></label>
                <input asp-for="GuestAddress" class="form-control" />
                <span asp-validation-for="GuestAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestCity" class="control-label"></label>
                <input asp-for="GuestCity" class="form-control" />
                <span asp-validation-for="GuestCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestState" class="control-label"></label>
                <input asp-for="GuestState" class="form-control" />
                <span asp-validation-for="GuestState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestZip" class="control-label"></label>
                <input asp-for="GuestZip" class="form-control" />
                <span asp-validation-for="GuestZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
